<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  @*The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags*@

  @*Title*@
  <title>Glen On Coding</title>

  @*Favicon*@
  <link rel="icon" href="Images/favicon.ico">

  @*Style CSS*@
  <link href="~/Content/style.css" rel="stylesheet" />
  <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">
  

</head>

<body>
   @*Preloader*@ 
  <div id="preloader">
    <div class="preload-content">
      <div id="original-load"></div>
    </div>
  </div>

   @*##### Header Area Start #####*@ 
  <header class="header-area">

     @*Top Header Area*@ 
    <div class="top-header">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Breaking News Area -->
          <div class="col-12 col-sm-8">
            <div class="breaking-news-area">
              <div id="breakingNewsTicker" class="ticker">
                <ul>
                  <li><a href="#">Hello Coders!</a></li>
                  <li><a href="#">I Write Code!</a></li>
                  <li><a href="#">I Think Code!</a></li>
                  <li><a href="#">I Dream Code!</a></li>
                  <li><a href="#">But there is no Code!</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Top Social Area -->
          <div class="col-12 col-sm-4">
            <div class="top-social-area">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/glen-p-stewart-63b676/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                  <div class="d-inline">
                    @Html.Partial("_LoginPartial")
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

     @*Logo Area*@ 
    <div class="logo-area text-center">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <a href="index.html" class="original-logo"><img src="/Images/GlenOnCodingLogo.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>

     @*Nav Area*@ 
    <div class="original-nav-area" id="stickyNav">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-end">
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu" id="originalNav">
              <!-- close btn -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul>
                  <li>
                    @Html.ActionLink("Home", "Index", "Home")
                  </li>

                  @*@if (Request.IsAuthenticated)*@
                  @if (User.IsInRole("Admin"))
                  {
                    <li>
                      <a href="#">Admin</a>
                      <ul class="dropdown">
                        <li>@Html.ActionLink("Blogs", "Index", "BlogPosts")</li>
                        <li>@Html.ActionLink("Create Blog", "Create", "BlogPosts")</li>
                      </ul>
                    </li>
                  }
                  @* Hide Category menu items (class="d-none") until I can implement categories feature *@
                  <li class="d-none">
                    <a href="#">Category</a>
                    <ul class="dropdown">
                      <li><a href="#">C#</a></li>
                      <li><a href="#">JavaScript</a></li>
                      <li class="d-none">
                        <a href="#">Category 1</a>
                        <ul class="dropdown">
                          <li><a href="#">Category 2</a></li>
                          <li><a href="#">Category 2</a></li>
                          <li>
                            <a href="#">Category 2</a>
                            <ul class="dropdown">
                              <li><a href="#">Category 3</a></li>
                              <li><a href="#">Category 3</a></li>
                              <li><a href="#">Category 3</a></li>
                              <li><a href="#">Category 3</a></li>
                              <li><a href="#">Category 3</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Category 2</a></li>
                          <li><a href="#">Category 2</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Bootstrap</a></li>
                      <li><a href="#">Stack</a></li>
                    </ul>
                  </li>
                  <li>@Html.ActionLink("Archives", "Published", "BlogPosts")</li>
                  <li>@Html.ActionLink("About", "About", "Home")</li>
                  <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                <!-- Search Form  -->
                <div id="search-wrapper">
                  @using(Html.BeginForm("Published", "BlogPosts", FormMethod.Get))
                  {
                    <input id="search" name="searchStr" type="text" placeholder="Search something..." />
                    <div id="close-icon"></div>
                    <input class="d-none" type="submit" value="" />
                  }
                </div>
              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>

  </header>
  @*  ##### Header Area End #####  *@

  @RenderBody()
  <hr />

  @*Footer Section Start*@
<footer class="footer-area text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">

        @*Footer Nav Area*@
        <div class="classy-nav-container breakpoint-off">
          @*Classy Menu*@
          <nav class="classy-navbar justify-content-center">

            @*Navbar Toggler*@
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            @*Menu*@
          <div class="classy-menu">

            @*close btn*@
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            @*Nav Start*@
            <div class="classynav">
              <ul>
                <li>
                  @Html.ActionLink("Home", "Index", "Home")
                </li>

                @*@if (Request.IsAuthenticated)*@
                @if (User.IsInRole("Admin"))
                {
                  <li>
                    <a href="#">Admin</a>
                    <ul class="dropdown">
                      <li>@Html.ActionLink("Blogs", "Index", "BlogPosts")</li>
                      <li>@Html.ActionLink("Create Blog", "Create", "BlogPosts")</li>
                    </ul>
                  </li>
                }
                @* Hide Category menu items (class="d-none") until I can implement categories feature *@
                <li class="d-none">
                  <a href="#">Category</a>
                  <ul class="dropdown">
                    <li><a href="#">C#</a></li>
                    <li><a href="#">JavaScript</a></li>
                    <li class="d-none">
                      <a href="#">Category 1</a>
                      <ul class="dropdown">
                        <li><a href="#">Category 2</a></li>
                        <li><a href="#">Category 2</a></li>
                        <li>
                          <a href="#">Category 2</a>
                          <ul class="dropdown">
                            <li><a href="#">Category 3</a></li>
                            <li><a href="#">Category 3</a></li>
                            <li><a href="#">Category 3</a></li>
                            <li><a href="#">Category 3</a></li>
                            <li><a href="#">Category 3</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Category 2</a></li>
                        <li><a href="#">Category 2</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Bootstrap</a></li>
                    <li><a href="#">Stack</a></li>
                  </ul>
                </li>
                <li>@Html.ActionLink("Archives", "Published", "BlogPosts")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
              </ul>
            </div>
            @*Nav End*@
          </div>
          </nav>
        </div>

        @*Footer Social Area*@
        <div class="footer-social-area mt-30 mb-3">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  @*Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.*@
<div class="my-3">
  <img src="/Images/GlenOnCodingLogoFooter.png" alt=""><br />
  Copyright &copy;

  <script>document.write(new Date().getFullYear());</script> All rights reserved
</div>
  This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.</a> Customized by Glen P Stewart
  @*Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.*@

</footer>
  @*Footer Section End*@
  
  <script src="~/Scripts/jquery-2.2.4.min.js"></script>
  <script src="~/Scripts/popper.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script src="~/Scripts/plugins.js"></script>
  <script src="~/Scripts/active.js"></script>
  @RenderSection("Scripts", false)
</body>
</html>
