@using Microsoft.AspNet.Identity
@using gs_blog_cf.Helpers
@{
  var userHelper = new UserHelper();
}

@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
  {
    @Html.AntiForgeryToken()

  @*<ul class="nav navbar-nav navbar-right">*@
    <ul class="list-inline">
      <li class="list-inline-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
      <li class="list-inline-item">
        @Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
      </li>
    </ul>
  }
}
else
{
@Html.ActionLink("Login", "Login", "Account")
@Html.ActionLink("Register", "Register", "Account")

@*<ul class="nav navbar-nav navbar-right">
  @Html.ActionLink("Register To Comment", "Register", "Account", null, new { @class = "btn original-btn" })
    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn original-btn" })


  <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
  <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>*@
}
