@model gs_blog_cf.Models.EmailModel

  <section class="contact-area section-padding-100">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Contact Form Area -->
        <div class="col-12 col-md-10 col-lg-9">
          <div class="contact-form">
            <h4 class="mb-5">Get in Touch</h4>

            <!-- Contact Form -->
            @using (@Html.BeginForm())
            {
              @Html.AntiForgeryToken()
              @Html.ValidationSummary("", new { @class = "text-danger" })

              <div class="row">
                <!-- Name input field -->
                <div class="col-12 col-md-6">
                  <div class="group">
                    @Html.TextBoxFor(m => m.FromName)
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    @Html.ValidationMessageFor(m => m.FromName)
                    @Html.LabelFor(m => m.FromName)

                  </div>
                </div>

                <!-- Email input field -->
                <div class="col-12 col-md-6">
                  <div class="group">
                    @Html.TextBoxFor(m => m.FromEmail)
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    @Html.ValidationMessageFor(m => m.FromEmail)
                    @Html.LabelFor(m => m.FromEmail)
                  </div>
                </div>

                <!-- Subject input field -->
                <div class="col-12">
                  <div class="group">
                    @Html.TextBoxFor(m => m.Subject)
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    @Html.ValidationMessageFor(m => m.Subject)
                    @Html.LabelFor(m => m.Subject)
                  </div>
                </div>

                <!-- Message body input field -->
                 <div class="col-12">
                   <div class="group">
                     @Html.TextAreaFor(m => m.Body)
                     <span class="highlight"></span>
                     <span class="bar"></span>
                     @Html.ValidationMessageFor(m => m.Body)
                     @Html.LabelFor(m => m.Body)
                   </div>
                </div>

                <div class="col-12">
                  <div class="group">
                    <button type="submit" class="btn original-btn">Send Message</button>
                  </div>
                </div>

              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
