@model gs_blog_cf.ViewModels.BlogPostsDetailsVM
@using Microsoft.AspNet.Identity


  <div class="single-blog-wrapper section-padding-0-100">

    @*Header image*@
    <div class="single-blog-area blog-style-2 mb-50">
      <div class="single-blog-thumbnail">
        @*<img src="/Images/b5.jpg" alt="">*@
        <img class="img-responsive" src="@Model.FeaturedPost.MediaPath" alt="">
        <div class="post-tag-content">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="post-date">
                  <a href="#">@Model.FeaturedPost.Created.Day <span>@Model.FeaturedPost.Created.ToString("MMMM")</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    @*Blog Content Area*@
    <div class="container">
      <div class="row">
        <!-- ##### Post Content Area ##### -->
        <div class="col-12 col-lg-9">
          <!-- Single Blog Area  -->
          <div class="single-blog-area blog-style-2 mb-50">
            <!-- Blog Content -->
            <div class="single-blog-content">
              <div class="line"></div>
              <a href="#" class="post-tag">Category</a>
              <h4><a href="#" class="post-headline mb-0">@Model.FeaturedPost.Title</a></h4>
              <div class="post-meta mb-50">
                <p>By <a href="#">Glen Stewart</a></p>
                <p>@Model.FeaturedPost.Comments.Count comments</p>
              </div>
              <p>
                @Html.Raw(Model.FeaturedPost.Body)
              </p>              
            </div>
          </div>

          <!-- About Author -->
          <div class="blog-post-author mt-100 d-flex">
            <div class="author-thumbnail">
              <img src="/Images/GlenStewart_500x500.jpg" alt="">
            </div>
            <div class="author-info">
              <div class="line"></div>
              <span class="author-role">Author</span>
              <h4><a href="#" class="author-name">Glen P Stewart</a></h4>
              <p>
                I am a full stack web developer with a strong skill set in the .NET/C# technologies.
              </p> <br />
              <a class="btn original-btn" target="_blank" href="https://gs-portfolio-cf.netlify.app">View my Portfolio</a>              
            </div>
          </div>

          <!-- Comment Area Start -->
          <div class="comment_area clearfix mt-70">
            <h5 class="title">Comments</h5>

            <ol>
              @foreach(var comment in Model.FeaturedPost.Comments.OrderByDescending(c => c.Created))
              {
                <!-- Single Comment Area -->
                <li class="single_comment_area">
                  <!-- Comment Content -->
                  <div class="comment-content d-flex">
                    <!-- Comment Author -->
                    <div class="comment-author">
                      <img src="~/Images/person-icon.jpg" alt="author">
                    </div>
                    <!-- Comment Meta -->
                    <div class="comment-meta">
                      <a href="#" class="post-date">@comment.Created.ToString("dd MMM yyyy")</a>
                      <p><a href="#" class="post-author">@comment.Author.DisplayName</a></p>
                      <p id="comment-@comment.Id">@comment.Body</p>
                    </div>
                  </div>

                  @if(User.IsInRole("Admin") || User.IsInRole("Moderator") || User.Identity.GetUserId() == comment.AuthorId)
                  {
                    @Html.ActionLink("Edit Comment", "Edit", "Comments", new { id = comment.Id }, new { @class = "btn btn-warning mr-1" })
                    @Html.ActionLink("Delete Comment", "Delete", "Comments", new { id = comment.Id }, new { @class = "btn btn-danger" })
                  }
                  <hr />
                </li>
              }
            </ol>
          </div>
          
          <div class="post-a-comment-area mt-70">
            <h5>Leave a comment here</h5>
            <!-- Reply Form -->
            @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
            {
              @Html.AntiForgeryToken()
              @Html.Hidden("BlogPostId", Model.FeaturedPost.Id)
              @Html.Hidden("Slug", Model.FeaturedPost.Slug)

              <div class="group">
                @Html.TextArea("Body", new { rows = 20, cols = 100 })
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Comment</label>
              </div>

              <button type="submit" class="btn original-btn">Submit Comment</button>
              @*<input type="submit" value="Submit Comment" class="btn original-btn" />*@
            }
          </div>
        </div>  <!-- ##### END Post Content Area ##### -->

        <!-- ##### Sidebar Area ##### -->
        <div class="col-12 col-md-4 col-lg-3">
          <div class="post-sidebar-area">
            <!-- Could have a search area here -->
            <!-- Could have a Login/Logout/Register area here -->
            <!-- Could have an advertisement here -->
            <!-- Recent Posts Area -->
            <div class="sidebar-widget-area">
              <h5 class="title">Most Recent Posts</h5>
              <div class="widget-content">
                <!-- here starts the repeating list of blogs to loop over and display -->
                @foreach (var recentPost in Model.RecentPosts)
                {
                  <div class="single-blog-post d-flex align-items-center widget-post">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                      <img class="img-responsive" , src="@recentPost.MediaPath" alt="">
                      @*<img src="img/blog-img/lp1.jpg" alt="">*@
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                      <a href="#" class="post-tag">Category</a>
                      <h4>@Html.ActionLink(@recentPost.Title, "Details", "BlogPosts", new { slug = recentPost.Slug }, new { @class = "post-headline" })</h4>
                      <div class="post-meta">
                        <p>@recentPost.Created.Day <span>@recentPost.Created.ToString("MMM yyyy")</span></p>
                      </div>
                    </div>
                  </div>
                  <hr />
                }
              </div>
          </div>
        </div>

      </div>
    </div>
  </div>