@using PagedList;
@using PagedList.Mvc;

@model IPagedList<gs_blog_cf.Models.BlogPost>

@{
  ViewBag.Title = "Published Blogs";
}

<div class="container">
  <div class="row">
    <div class="col-12">
      <hr />
      <h2>Full List of Published Blogs</h2>
      <p>
        @if (User.IsInRole("Admin"))
        {
          @Html.ActionLink("Create New Blog", "Create", null, new { @class = "btn btn-primary btn-sm" })
        }

      </p>
      <table class="table">
        <tr>
          <th>
            @Html.DisplayName("Created")
          </th>
          <th>
            @Html.DisplayName("Updated")
          </th>
          <th>
            @Html.DisplayName("Title")
          </th>
          <th></th>
        </tr>

        @foreach (var item in Model)
        {
          <tr>
            <td>
              @item.Created.ToString("MM/dd/yyyy")
              @*@Html.DisplayFor(modelItem => item.Created.ToString("MMM dd, yyyy"))*@
            </td>
            <td>
              @item.Created.ToString("MM/dd/yyyy")
              @*@Html.DisplayFor(modelItem => item.Updated)*@
            </td>
            <td>
              @*@Html.DisplayFor(modelItem => item.Title)*@
              @Html.ActionLink(item.Title, "Details", new { slug = item.Slug })
            </td>
            
          </tr>
        }

      </table>
      Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
      @Html.PagedListPager(Model, page => Url.Action("Published", new { page, searchStr=ViewBag.Search }))
    </div>
  </div>
</div>





